<h2>Profile for <%= @animal.name %></h2>

<p>Below is a profile for <%= @animal.name %>.</p>

<table>

  <tr>
    <th></th>

    <th>-</th>

    <th></th>

  </tr>

  <tr>

    <td>
    Name
    </td>

    <td>
    <%= @animal.name %>
    </td>
  </tr>

  <tr>

    <td>
      Type
    </td>

    <td>
      <%= @animal.type %>
    </td> 

  </tr>

  <tr>

    <td>
      Bio
    </td>

    <td>
      <%= @animal.bio %>
    </td>

  </tr>

</table>