<h2>Profile for <%= @animal.name %></h2>

<p>Below is a profile for <%= @animal.name %>.</p>

<p>To update this profile, click <a href="/animals/<%= @animal.id %>/edit">here</a>.</p>

<table>

  <tr>

    <td>
    Name
    </td>

    <td>
    <%= @animal.name %>
    </td>
  </tr>

  <tr>

    <td>
      Type
    </td>

    <td>
      <%= @animal.type %>
    </td> 

  </tr>

  <tr>

    <td>
      Bio
    </td>

    <td>
      <%= @animal.bio %>
    </td>

  </tr>

</table>