<h2>Update animal details</h2>

<p>Besides health changes, our animals often turn out to be a different sex, species, sub-species or breed than we initially thought.</p>

<p>This page is for updating our animal records. Edit the information in the menu, then click 'update'.</p>

<p>You cannot edit the initial admission date here.</p>

<form method="post" action="/shelter/animals/<%=@animal.id %>/update">

<p>
  <label for="name">Name: </label>
</p>
<p>
    <input value="<%= @animal.name %>" type="text" id="name" name="name"/>
</p>

<p>
  <label for="type">Type: </label>
</p>
<p>
  <input value="<%= @animal.type %>" type="text" id="type" name="type"/>
</p>

<p>
  <label for="adoptable">Adoptability: </label>
</p>
<p>
    <input value="<%= @animal.adoptable %>" type="text" id="adoptable" name="adoptable"/>
</p>

<p>
    <label for="bio">Biography: </label>
</p>
<p>   
   <input value="<%= @animal.bio %>" type="text" id="bio" name="bio"/>
</p>
<p>
  <input type="submit" value="Update animal details"/>
</p>
</form>