<h2>Update adoptions</h2>

<p>This page is for changing details of an owner-pet adoption.</p>

<p>Our network of owners can swap pets with each other when appropriate, or maybe you mis-filed them when registering the adoption.</p>

<form method="post" action="/shelter/ownerships/<%=@ownership.id%>/update">

<p>

 <label for="animal_id">

   <select name="animal_id">

     <% for animal in @animals %>

       <option value="<%= @ownership.animal_id %>">

         <%= animal.name %> the <%= animal.type %>

       </option>

     <% end %>

   </select>

 </label>

</p>

<p>

  <label for="owner_id">

    <select name="owner_id">

      <% for owner in @owners %> 

        <option value="<%= @ownership.owner_id %>">

          <%= owner.name %> with <%= owner.experience %>

        </option>

      <% end %>

    </select>

  </label>

</p>

</select>

  <input type="submit" value="Update adoption"/>

</form>